spring:
  application:
    name: spring-boot-template

  profiles:
    # ?? ??? ?? ? ????? local ????? ????? ?? ??? ??
    default: local

  # [Modern Java] Virtual Threads (Project Loom)
  threads:
    virtual:
      enabled: true

  # [Lifecycle] ?? ? ???? ?? ??? ?? ??
  lifecycle:
    timeout-per-shutdown-phase: 30s

  # [JSON] ?? ?? ?? ???
  jackson:
    time-zone: Asia/Seoul
    default-property-inclusion: non_null # null? ??? ???? ???? ???? ??

  # [Data] ???? JPA ?? (?? ???? ??)
  jpa:
    open-in-view: false # [Critical] OSIV? ?? ??? ??? ??? ????? ??? ???.
    properties:
      hibernate:
        # ?? ????? ???? ? padding? ?? SQL Re-compilation ?? (?? ???)
        query.in_clause_parameter_padding: true

server:
  shutdown: graceful
  port: 8080
  forward-headers-strategy: native # L4/Gateway? ??(X-Forwarded-For)? ???? ??

# [Observability] ???? ?? ??
management:
  endpoints:
    web:
      exposure:
        # ?? ????? ? ??????? ??? ???(VPN) ????? ?? ???? ???? ?
        include: "health, info, prometheus, metrics"
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true # Liveness, Readiness ??? ?? ???
    metrics:
      enabled: true
    prometheus:
      enabled: true

  # [Metrics] Micrometer ??
  metrics:
    tags:
      application: ${spring.application.name} # ?? ???? ?????? ?? ??
